dacite==1.8.1
fastapi==0.109.2
mysql_connector_repackaged==0.3.1
pydantic==2.6.3
PyJWT==2.8.0
python-dotenv==1.0.1
Requests==2.31.0
SQLAlchemy==2.0.25
sqlmodel==0.0.16
starlette==0.36.3
tweepy==4.14.0
uvicorn==0.27.1
mysql==0.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.0
pytest==8.2.0
